.card {

    border-radius: 10px;
    background: #ffffff;
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }
  
  h1 {
    color: #495057;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  :host ::ng-deep .p-button {
    margin-right: .5rem;
  }
  
  :host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
  }
  
  .p-mt-3 {
    margin-top: 1rem;
  }
  .titel{
    color: #3B82F6;
    margin-left: 40%;
    font-size:200%
  }
  