<div style="display: flex">
  <app-navbar style="flex: 1"></app-navbar>
  <div style="flex: 5">
    <app-header></app-header>
    <div class="card">
      <h2>Bảng điểm của bạn</h2>

      <p *ngIf="!studentGrades.length">
        Không tìm thấy dữ liệu bảng điểm. Vui lòng kiểm tra lại thông tin!
      </p>

      <p-table
        *ngIf="studentGrades.length"
        [value]="studentGrades"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Mã Môn Học</th>
            <th>Tên Môn Học</th>
            <th>Chuyên Cần</th>
            <th>Bài Tập</th>
            <th>Thi</th>
            <th>Thực Hành</th>
            <th>Điểm Tổng Kết</th>
            <th>Đánh giá giảng viên</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-grade>
          <tr>
            <td>{{ grade.subjectId }}</td>
            <td>{{ grade.subjectName }}</td>
            <td>{{ grade.attendanceGrade }}</td>
            <td>{{ grade.homeworkGrade }}</td>
            <td>{{ grade.examGrade }}</td>
            <td>{{ grade.practicalGrade }}</td>
            <td>{{ calculateFinalGrade(grade) | number : "1.1-1" }}</td>
            <td>
              <div *ngIf="grade.status === 0; else notEvaluated" style="color: green;">
                Đã đánh giá
              </div>
              <ng-template #notEvaluated>
                <span (click)="showTeacherReviews(grade.id)" style="color: red; cursor: pointer;">
                  Chưa đánh giá
                </span>
              </ng-template>
              
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog
        [(visible)]="displayDialog"
        [style]="{ width: '800px' }"
        header="Đánh giá giảng viên"
        [modal]="true"
        styleClass="p-fluid"
      >
        <ng-template pTemplate="content">
          <div class="p-grid p-fluid">
            <!-- Row 1 -->
            <div class="p-field">
              <label for="Content">Content</label>
              <input
                id="Content"
                pInputText
                type="text"
                [(ngModel)]="teacherReviews.Content"
                required
                style="width: 100%"
              />
            </div>
            <div class="p-field">
              <label for="Rating">Rating</label>
              <p-rating 
                [(ngModel)]="teacherReviews.Rating" 
                [cancel]="false" 
                stars="5" 
                style="font-size: 1.5rem;">
              </p-rating>
            </div>
            
            
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button
  pButton
  pRipple
  label="Hủy"
  icon="pi pi-times"
  class="p-button-text"
  (click)="displayDialog = false"
></button>

<button
  pButton
  pRipple
  label="Lưu"
  icon="pi pi-check"
  class="p-button-text"
  (click)="addTeacherReview(teacherReviews)"
></button>

        </ng-template>
      </p-dialog>
    </div>
    
  </div>
</div>
